<!--The content below is only a placeholder and can be replaced.-->
<!-- <svg id="svg" width="1600" height="1000" ></svg> -->
 <!-- <div style="width:100%;height:730px;border:1px solid red;overflow:hidden">
     <svg id="svg1" style="border:1px solid blue" (mousewheel)="wheel()" (mousemove)="move()"></svg> 
     <svg id="svg1" style="border:1px solid blue" (mousewheel)="zoomin()"></svg>  
<label >{{pointX}};{{pointY}}</label>
<label >scale:{{scale}}</label>
</div> -->
<!-- snap.svg.zpd -->
<!-- <app-svgzpd></app-svgzpd> -->
<!-- <app-viewbox></app-viewbox> -->
<!--<app-d3></app-d3>-->
<!-- <svg id="svg2" ></svg> -->
<!-- 放大缩小 -->
<!-- <app-demo></app-demo> -->
<!-- 框选 -->
<!-- <app-rect-selct></app-rect-selct> -->
<!-- 移除事件 -->
<!-- <app-removeevent></app-removeevent> -->
<!-- plddemo -->
<app-plddemo></app-plddemo>

